{% extends 'base.html' %}
  {% block content %} {% block styles %} 
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% endblock %}

  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
          <div class="row mt-3">
            <div class="col-sm-12">
              <a href="{% url 'ImagemCadastro' %}" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Adicionar nova imagem</span></a>  <h2>Lista de Imagens</h2> 
            </div>
          </div>
      </div>
      <table class="table table-striped table-hover table-responsive-sm text-justify">
        <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Imagem</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for imagem in imagem_list %}
            <tr>
              <td class="text-center">{{ imagem.pk }}</td>
              <td class="text-center">{{ imagem.imagem }}</td>
              <td class="text-center icons-td">
                <a href="{% url 'ImagemDetalhes' imagem.pk %}" class="details">
                  <span class="material-icons">
                    visibility
                  </span>
                </a>
                <a href="{% url 'ImagemExcluir' imagem.pk %}" class="delete">
                  <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
                </a>             
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>  
{% endblock %}